{{#if isFile}}
<div style="position: relative">
  <img style="max-width: 220px; max-height: 165px" {{bindAttr src="thumbnailLink"}}>
  <span style="position: absolute; bottom: 5px; left: 5px; opacity: 0.6;" class="badge">{{title}}</span>
  <span style="position: absolute; top: 2px; left: 5px">

      {{address.country}}
      {{address.pref}}
      {{address.city}}

  {{input type=checkbox checked=selected}}
  </span>
</div>
{{/if}}

{{#if isDir}}
    <div class="dir-box">
    <div style="height: 20px; margin: 5px 0 10px 0;">
      {{#each titles}}
        <span class="badge" style="font-size: 20px; font-weight: normal; color: #0088cc">{{this}}</span>
      {{/each}}
    </div>
    <div class="well well-small">
        <span style="line-height: 14px">
        <button class="btn btn-mini" style="width: 100px;" {{action flipSelect this}}>
          {{!-- (very slow) #if isAllSelected}} Unselect All {{else}} Select All {{/if --}}
          {{selectLabel}}
        </button>
      </span>
      <span class="label" style="margin: 0 3px 0 15px; padding: 3px 15px; font-weight: normal">Unprocessed in the folder: <strong>{{folder.unprocessedFiles.length}}</strong></span>
      <span class="label" style="margin: 0 3px 0 0; padding: 3px 15px; font-weight: normal">Selected: <strong>{{folder.selectedFiles.length}}</strong></span>
    </div>
    </div>
{{/if}}

{{#if isLastDirFiller}}
<div class="dir-box">
<div style="height: 20px; margin-top: 5px; margin-left: 176px;" >
  <span style="line-height: 14px">
    <span class="badge" {{action collapse this}} style="width: 25px">
    <i {{bindAttr class=":icon-2x isCollapsed:icon-chevron-left:icon-chevron-down"}}"></i>
    </span>
  </span>
</div>
</div>
{{/if}}

{{#if isDirFiller}}
<div class="dir-box" style="width: 250px;" ></div>
{{/if}}

{{#if isEmptyFiller}}
{{/if}}




