
<div class="well" style="width: 91%; margin: 20px">
   {{#if allChildrenSelectedFiles.length}}
    <button class="btn btn-info pull-right" style="margin-top: 15px" {{action copyFiles}}>
      Organize {{allChildrenSelectedFiles.length}} pictures!
    </button>
   {{/if}}
    <span class="pull-left"><h3>Organize selected pictures: </h3></span>
    <table class="table table-hover">
        <tr>
            <td>Total Images On your Google Drive</td>
            <td>{{allChildrenFiles.length}}</td>
        </tr>
        <tr>
            <td>Images not yet managed by Fotomoo</td>
            <td>{{allChildrenUnprocessedFiles.length}}</td>
        </tr>
        <tr>
            <td>Will be organized by Fotomoo</td>
            <td>{{allChildrenSelectedFiles.length}}</td>
        </tr>
        <tr>
          <td>Number of exact duplicate images</td>
          <td>5</td>
        </tr>


    </table>
    <span class="pull-left"><h3>Folders with Images</h3></span>
    <table class="table table-hover">
        <tr>
            <th>Folder</th>
            <th>Total</th>
            <th>Not Managed</th>
            <th colspan="2">To Organize</th>

        </tr>
        {{#each flatChildren}}
          {{#if unprocessedFiles.length}}
            <tr>
                <td>
                  {{#linkTo 'files.grid' this}}
                    {{#each folderPath}}<span class="badge badge-info">{{this}}</span>{{/each}}
                  {{/linkTo}}
                </td>
                <td>{{files.length}}</td>
                <td>{{unprocessedFiles.length}}</td>
                <td>{{selectedFiles.length}}</td>
                <td>

                  <button class="btn btn-mini" style="width: 80px;" {{action flipSelect this}}>
                  {{#if isAllSelected}}
                    Unselect All
                  {{else}}
                    Select All
                  {{/if}}
                  </button>

                </td>
            </tr>
          {{/if}}
        {{/each}}
    </table>
</div>