<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
      <div class="pull-right" style="margin: 6px 20px 0 0">
      {{FM.drive.userProfile.name}} &nbsp;
      <img {{bindAttr src="FM.drive.userProfile.user.picture.url"}} alt="" width="28" height="28" style="border-radius: 14px;">
      </div>

    <div style="margin-left: 15px">
    {{#linkTo 'about' class="brand"}}Fotomoo{{/linkTo}}
    </div>

    <ul class="nav">
      <li>{{#linkTo 'setup'}}Organize!{{/linkTo}}</li>
      <li>{{#linkTo 'manage'}}Manage!{{/linkTo}}</li>

      <li class="dropdown">
        <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Help <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
          <li role="presentation">{{#linkTo 'about'}}About{{/linkTo}}</li>
          <li role="presentation" class="divider"></li>
          <li role="presentation">{{#linkTo 'feedback'}}Feedback{{/linkTo}}</li>
          <li role="presentation" class="divider"></li>
          <li role="presentation">{{#linkTo 'faq'}}FAQ{{/linkTo}}</li>
          <li role="presentation">{{#linkTo 'readme'}}Readme{{/linkTo}}</li>
          <li role="presentation" class="divider"></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="https://github.com/arkadiyk/FM">Source Code</a></li>
        </ul>
      </li>

    </ul>
  </div>
</div>

{{outlet}}


{{#if FM.drive.toProcess}}
  {{render 'copy-progress'}}
{{/if}}

{{#if FM.locationService.toProcessCount}}
  {{render 'location-service-progress'}}
{{/if}}
