<div style="margin: 40px">
  <h1>Manage (coming soon)</h1>
  </p><p>
  At this moment you can take advantage of Fotomoo created Date and Location hierarchies and searchable indexes using
    <a href="https://drive.google.com/">Google Drive UI</a>
  </p>
  <p>
    Soon this page will let you:
  <ul>
    <li>
        Create <span class= "label">Albums</span>, assign <span class= "label">Keywords</span>,
        <span class= "label">Rate</span> and <span class= "label">Flag</span> your photos,
        write a <span class= "label">Description</span>
    </li>

    <li>
        <span class= "label">Browse</span>,
        <span class= "label">Search</span> and
        <span class= "label">Filter</span>
        your photo library using automatically and manually created hierarchies and
        attributes as well as EXIF metadata.
    </li>

    <li>
        <span class= "label">Share</span> individual photos or albums on your favorite social networks
    </li>

    <li>
        <span class= "label">Edit</span> your photos using Google Drive
        3rd party applications like <a href="http://www.picmonkey.com/">Picmonkey</a>
        or <a href="http://pics.io/">Pics.io</a>
    </li>
  </ul>

</div>

{{#if allChildrenManagedFiles.length}}
<div class="well" style="width: 91%; margin: 30px">
  <table class="table table-hover">
    <tr>
      <td>Total number of images on your Google Drive</td>
      <td>{{allChildrenFiles.length}}</td>
      <td></td>
    </tr>
    <tr>
      <td>Number of images managed by Fotomoo</td>
      <td>{{allChildrenManagedFiles.length}}</td>
      <td><button
          class="btn btn-info btn-small btn-with-popover"
          data-content="Unlink all managed images from the 'Fotomoo Pictures' folder.
          After this operation is complete you can safely delete 'Fotomoo Pictures'
          folder without risk of loosing all your google drive photos." {{action 'unmanageFiles'}}>
          Unmanage All</button>
      </td>
    </tr>
    <tr>
      <td>Number of managed images with geolocation info but not in location hierarchy</td>
      <td>0</td>
      <td><button onclick="alert('comig soon')"
          class="btn btn-info btn-small btn-with-popover"
          data-content="Try to re-obtain address info and re-organize managed pictures
          by location if for any reason Fotomoo could not obtain address information from
          Google maps on the initial import.">
          Organize by location</button></td>
    </tr>
    <tr>
      <td>Number managed images which also belong to unmanaged folders</td>
      <td>{{allChildrenManagedFiles.length}}</td>
      <td><button onclick="alert('comig soon')"
          class="btn btn-info btn-small btn-with-popover"
          data-content="On initial import Fotomoo does not unlink photos from
          their original folders. This will let you keep managed photos only
          in the Fotomoo hierarchies">
        Leave them managed</button>
      </td>
    </tr>
  </table>
</div>
{{else}}
  <div style="margin: 40px">
    <h3>There are no Fotomoo managed pictures on your Google Drive</h3>
  </div>
{{/if}}
