<div id="wrapper">
    <div class="panels">
      {{#if allChildrenUnprocessedFiles.length}}
        <div class="files-panel">
            {{outlet}}
        </div>
        <div class="folders-panel">
            <ul class="nav nav-list">


                <li class="nav-header">&nbsp;</li>
                <li style="font-size: larger">{{#linkTo 'setup.index'}}<strong>Finalize!{{/linkTo}}</strong></li>
                <li class="nav-header">Select Images to organize</li>
                <li>
                    {{#if childrenWithPictures.length}}
                    <i {{bindAttr class=":pull-left :folder-icon isExpanded:icon-folder-open:icon-folder-close"}} {{action toggle}}></i>
                    {{else}}
                      <i class="pull-left icon-folder-close" style="opacity: 0.4; margin-top: 3px"></i>
                    {{/if}}

                    {{partial 'folder_title'}}

                    {{#if isExpanded}}
                    {{control "folderList" content}}
                    {{/if}}
                </li>


            </ul>
        </div>
      {{else}}
      <div style="margin: 40px">
        <h3>All photos on your Google Drive are managed by Fotomoo</h3>
        <p>You can mange organized pictures {{#linkTo 'manage'}}Here{{/linkTo}}</p>
        </div>
      {{/if}}

    </div>
</div>




