<div id="wrapper">
    <div class="panels">
        <div class="files-panel">
            {{outlet}}
        </div>
        <div class="folders-panel">
            <ul class="nav nav-list">



                <button class="btn" {{action copyFiles}}>Create Hierarchies</button>
                <li class="nav-header">{{#linkTo 'setup'}}Setup Summary{{/linkTo}}</li>
                <li>
                    {{#if childrenWithPictures.length}}
                    <i {{bindAttr class=":pull-left :folder-icon isExpanded:icon-folder-open:icon-folder-close"}} {{action toggle}}></i>
                    {{else}}
                      <i class="pull-left icon-folder-close" style="opacity: 0.4; margin-top: 3px"></i>
                    {{/if}}

                    {{partial 'folder_title'}}

                    {{#if isExpanded}}
                    {{control "folderList" content}}
                    {{/if}}
                </li>



            </ul>
        </div>
    </div>
</div>




